<h1><%= @student.to_s %></h1>
<div>
    <p>Last Updated<%= @student.updated_at %>
    </p>
    <p>Active: <%= @student.active ? "Yes" : "No" %></p>
    <% if @student.active %>
      <p>This student is currently inactive.</p>
    <% end %>
</div>